body {
    font-family: "Helvetica Neue", "Helvetica", Arial, sans-serif;
    color: #fff;
}
a, a:hover, a:visited, a:active { 
    color: #fff;
    text-decoration: none;
}

* {
    box-sizing: border-box;
}

/**********/
/* Layout */
/**********/
aside, footer, header, nav, section, article {
    display: flex;
    flex-direction: column;
}
body {
    overflow: hidden;
    margin: 0px;
    height: 100vh;
    /* body tag is a grid */
    display: grid;
    grid-template-columns: 250px auto;
    grid-template-rows: auto 100px;
}
aside {
    background-color: #000;
    grid-column-start: 1;
}
header {
    background: #111;
    position: sticky;
    top: 0px;
}

/* Uncomment to see borders:  */
/* header, nav, article {
    border: solid 5px teal;
    padding: 10px;
}
main {
    border: solid 5px hotpink;
    padding: 10px;
} */

main {
    background: #111;
    grid-column-start: 2;
    overflow-y: auto;
    z-index: 3;
}

footer {
    background: #222;
    grid-row-start: 2;
    grid-column-start: 1;
    grid-column-end: span 2;
}


/***************************/
/* Accessories & Florishes */
/***************************/
::-webkit-scrollbar {
    width: 16px;
}

::-webkit-scrollbar-thumb {
    border: 4px solid transparent;
    border-radius: 16px;
    background-clip: padding-box;
    min-height: 30px;
}
::-webkit-scrollbar-thumb {
    background-color: hsla(0,0%,100%,.3);
}

/***************************/
/* Part A: Left Navigation */
/**************************/
h1{
    padding: 5px;
}
.fa-spotify{
    font-size: 40px;
    padding-left: 20px;
    padding-bottom: 15px;
}

aside a i{
    margin: 13px;
    padding-left: 30px;
}
/********************************/
/* Part B: Header & Nav Styling */
header {
    display: block;
    float: right;
    margin: 15px;
    padding: 15px;
    padding-top: 30px;
    font-size: small;
    letter-spacing: 2px;
    font-weight: bold;
}

#upgrade{
    border: 1px solid white;
    border-radius: 20px;
    padding: 8px 30px; 
    margin-right: 15px;
}

#profile{
    background-color: rgb(40, 43, 43);
    border-radius: 20px;
    padding: 10px 30px;
}

nav {
    display: grid;
    grid-template-columns: auto auto auto 70vh;
    margin-left: 45px;
    padding-top: 150px;
    padding-bottom: 20px;
    font-size: small;
    letter-spacing: 2px;
    font-weight: bold;

}

/*************************/
/* Part C: Artists Panel */
/*************************/
#featured-content {
    display: grid;
    grid-template-columns: repeat(5, 230px);
    grid-template-rows: repeat(2, 20vh);
    row-gap: 200px;
    column-gap: 20px;
    padding: 20px;
}

section div{
    background-color:  rgb(40, 43, 43);
    border-radius: 3%;
    padding-bottom: 10px;
}

.artist-card{
    text-align: center;
}

.card-footer {
    padding-left: 25px;
    text-align: left;
    font-size: small;
}

img{
    border-radius: 50%;
    max-width: 25vh;
    max-height: 25vh;
    padding-top: 20px;
}
/**************************/
/* Part D: Responsive UIs */
/**************************/

/* Your Code Here */

@media screen and (max-width: 1000px) {
    body{
        
    }
}


@media screen and (max-width: 700px) {
      body{

      }  
    /* Mobile Display 
        * 2 cards per row
        * The aside panel and "Upgrade" button should no longer be visible.
        * There should only be a 1-column layout.
    */
}


