
* {
    box-sizing: border-box;
}

body {
    background-image: url('images/bear.webp');
    min-height: 100vh;
    background-attachment: fixed;
    margin: 0px; 
    font-family: 'Courier New', monospace;
}

section  {
    padding: 80px;
}

header {
    font-family::'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    background: #FEAC5E;
    font-size: 30px; color: #430d49;
    border-style: dotted;
    text-decoration: underline dotted lightpink;
    border-color: lightseagreen;
    border-width: thick;
}

h1{
    @font-face {
        src: url(\Train_One\TrainOne-Regular.ttf);
        font-family: TrainOne-Regular
    }
}

h2 {
    margin-left: -30px;
    height: 110px;
    padding-top: 30px;
    font-weight: bolder;
}

p, li {
    line-height: 1em;
}

ul {
    border-style: dotted;
    border-color: lightseagreen;
    border-width: thick;
    background-color:#ffffff; 
    font-style: normal; color: #430d49;
    opacity: .9;
    margin-left: 30px;
    padding-left: 30px;
  }

#tutorials, #homework, #inspiration {
    padding-top: 10px;
    padding-bottom: 10px;
    font-size: 30px; color:  #580766;
}
