body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
}

.navbar {
    padding: 20px;
    background-color: #f6b9ef;
    display: flex;
    align-items: center;
    justify-content: center;
}
.navbar a, .navbar strong {
    margin-right: 15px;
}

.photo-section {
    display: flex;
    width: 100%;
    flex-direction: row;
}
.photo-section div {
    width: 32%;
    margin-right: 4%;
}

main {
    padding-right: 10vw;
    padding-left: 10vw;
}