body {
        margin: 0;
        font-family: Arial, Helvetica, sans-serif;
        background: repeating-linear-gradient(
          90deg,
          transparent,
          transparent 50px,
          rgba(0, 0, 0, 0.25) 50px,
          rgba(0, 55, 255, 0.25) 56px,
          transparent 56px,
          transparent 63px,
          rgba(34, 42, 255, 0.25) 63px,
          rgba(0, 0, 0, 0.25) 69px,
          transparent 69px,
          transparent 116px,
          rgba(0, 6, 190, 0.25) 116px,
          rgba(159, 80, 255, 0.25) 166px
        ), repeating-linear-gradient(
          0deg,
          transparent,
          transparent 50px,
          rgba(49, 42, 34, 0.25) 50px,
          rgba(17, 6, 223, 0.25) 56px,
          transparent 56px,
          transparent 63px,
          rgba(111, 0, 255, 0.25) 63px,
          rgba(0, 0, 0, 0.25) 69px,
          transparent 69px,
          transparent 116px,
          rgba(162, 0, 255, 0.25) 116px,
          rgba(0, 153, 255, 0.25) 166px
        ), repeating-linear-gradient(
          -45deg,
          transparent,
          transparent 5px,
          rgba(143, 77, 63, 0.25) 5px,
          rgba(63, 66, 143, 0.25) 10px
        ), repeating-linear-gradient(45deg, transparent, transparent 5px, rgba(
              143,
              77,
              63,
              0.25
            ) 5px, rgba(69, 56, 212, 0.25) 10px);
    }

     a {
      color: aliceblue;
      font-size: 50px; 
    }
      
      .hero-image {
        background-image: url("/images/farm.jpg");
        height: 100vh;
        background-position: center;
        background-repeat: no-repeat;
        background-size:contain;
        position: relative;
      }

      h1 {
        font-size: 50px;
      }
      
      .hero-text {
        text-align: center;
        position: absolute;
        top: 40%;
        left: 50%;
        transform: translate(-50%, -50%);
        color: white;
      }

li{
  color: aliceblue;
  text-align: left;
}

.glow {
  font-size: 70px;
  color: #fff;
  text-align: center;
  animation: glow 2s ease-in-out infinite alternate;
}

@-webkit-keyframes glow {
  from {
    text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #7e93d9, 0 0 40px #76d3ed, 0 0 50px #8ea8f0, 0 0 60px #29f4ff, 0 0 70px #e60073;
  }
  
  to {
    text-shadow: 0 0 15px #fff, 0 0 30px #fffbfd, 0 0 40px #93c7ff, 0 0 50px #d58bff, 0 0 60px #84d0ff, 0 0 70px #ff4da6, 0 0 80px #ff4da6;
  }
}

