body {
    margin: 0px;
    background: radial-gradient(circle, rgb(50, 2, 117), rgb(23, 3, 3));
}
main {
    height: 78vh;
}

footer{
    color: aliceblue;
    padding-left: 10vh;
    padding-bottom: 5vh;
    font-size: larger;
    line-height: 4vh;
}